<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>autores</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <h1>🏛 EDITORIAL Datos</h1>
    <br>
    <form th:action="@{formulario}" method="post">
        <label> Nombre: </label>
        <input type="text" name="nombre" id="nombre">
        <button type="submit">Cargar</button>
    </form>
    <br>
    <div th:if="${cargado}!=null">
        <p th:text="${cargado}"></p>
    </div>
    <div th:if="${error}!=null">
        <p th:text="${error}"></p>
    </div>
    <br>
    <a th:href="@{/editoriales/lista}" class="btn btn-secondary">Volver</a>

    <!-- BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>